
.container-image {
  background-image: linear-gradient(225deg, rgba(1,1,1,0.6) 30%, rgba(1,1,1,0.3) 70%), url("https://images.unsplash.com/photo-1526376043067-5af36c35cd6c?ixlib=rb-0.3.5&s=aafddb2ff89e5a523bc24db66811aa3b&auto=format&fit=crop&w=1639&q=80");
  background-size: cover;
  background-position: center;
  margin: 0;
}
