.doses {
  padding: 20px;
  margin: 20px;
  background-color: rgb(240, 240, 240);
}

.show-form {
  margin: 20px;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 3px;
  }

.details {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 0;
}


.show-ingredients-list {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;

}

.row {
  margin: 0;
}
