<div class="container">

  <h2>Add a dose</h2>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, class:"form-control" %>
    <%= f.association :ingredient %>
    <%= f.submit "Add the dose!", class:"btn btn-info" %>
  <% end %>
</div>
